html {
    height: 100%;
}

body{
    background-image: url(./underwater.jpg);
    background-size:cover;
    background-position: center;
    /* Moves background image up 200 px's */
    /* background-position: 0px -200px; */
    
    font-family: Lato;
    
    color:white;
}

#content {
    text-align: center;
    padding-top:25%;

    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.btn-bold {
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width:300px;
    border-top:1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
