:root {
    --background2: #0d0d0d;
    --background: #212121;
    --background3: #060606;
    --font: #d5d5d7;
}

html {
    position: relative;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("forest2.jpg");
}

#header {
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: var(--background3);
    font-size: 50;
    text-align: left;
    color: var(--font);
    padding: 5px 10px 5px 20px;
    /*top, right, bottom, left*/
}

#footer {
    position: absolute;
    text-align: center;
    width: 1200px;
    padding: 5px 0px;
    background-color: var(--background3);
    bottom: -20px;
}

#body {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    color: var(--font);
    background-color: var(--background2);
}


/* ABOUT PAGE SECTION */

#about {
    background-color: var(--background3);
    margin: 20px 250px 0px 250px;
    padding: 25px 40px 8px 40px;
    text-align: center;
}

#contactButton {
    font-size: 30px;
    font-weight: bold;
    border-style: none;
    background-color: #cccccc;
    float: right;
    margin-top: 5px;
    height: 50px;
}

#contactButton:hover {
    background-color: #595959;
}

#contact {
    margin-top: 20px;
    text-decoration: none;
    font-size: 20;
}

#contactLink {
    /* text-decoration: none; */
    padding-top: 10px;
    color: var(--font);
}

#list {
    padding: 0px;
    font-size: 20;
    list-style: none;
    list-style: circle;
}

#aboutTitle {
    text-decoration: underline;
    font-size: 35;
    font-weight: bold;
    padding-bottom: 5px;
}

#aboutSubTitle {
    font-size: 25;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
}


/*
#emptyBlock {
    margin-top: 10px;
    width: 1200px;
    background-color: var(--background3);
    height: 15px;
}
 */


/* GAME SHOWCASE SECTION */

.gif {
    margin-left: 20px;
    height: 200px;
    width: 400px;
}

#gameContainer {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 480px 2fr;
}

#gameText {
    font-size: 20;
    background-color: var(--background2);
    margin-left: -20px;
    margin-right: 40px;
}

#gameTitle {
    font-size: 30;
    font-weight: bold;
    text-align: center;
}

#gameList {
    margin-top: 0px;
    margin-bottom: 10px;
}